*{
    box-sizing: border-box; /*Esta linea hace que se aplique a todos los elementos */
    margin: 0;
    padding: 0;
}

body{
    background: #000;   /*Esta linea nos pone un fondo negro*/
    color: #fff;
    background-color: #000000;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%23711818' fill-opacity='0.3' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
    font-size: 16px;
    font-family: 'Oswald', sans-serif;  /*Nos sirve para utilisar nuestro tipo de letra font oswald del html*/
}

a{  /*Modifica nuestro enlaces*/
    color: #fff;    /*Nos pone el texto de color blanco*/
    text-decoration: none;  /*Nos quita el subrayado*/
}

ul{
    list-style: none;   /*Nos quita el formato de nuestros ul*/
}

.container{
    width: 90%; /*Solo nos va a ocupar el 90% de nuestra pantalla*/
    margin: auto; /*Nos ocupa los margenes declarados automaticamente*/
}

/*Navigation*/
.nav-main{
    font-size: 17px;
    display: flex;  /*Nos va a permitir organizar nuestros elementos*/
    justify-content: space-between; /*Sirve para utilizar todo nuestro ancho disponible*/
    align-items: center;    /*Nos centra nuestros items*/
    height: 60px;   /*Nos sube nuestros elementos 60 px*/
    padding: 1px;
}

.nav-brand{ /*Nos modifica nuestra imagen con la clase nad-brand*/
    width: 50px;    /*nos reduce el tamaño de nuestra imagen*/
}

/*Navegacion izquierda*/
.nav-main ul{   /*Nos modifica en nuestro nav-main en todas nuestras etiquetas ul*/
    display: flex;  /*Esto nos distribuye nuestros links*/
}

.nav-main ul li{    /*nos modifica en la clase nav-main dentro de las etiquetas ul a todoas las etiquetas li*/
    padding: 10px;  /*Nos da un espaciado entre cada elemento de 10 px*/
}

.nav-main ul li a{
    padding: 6px;
}

.nav-main ul li a:hover{    /*Entra en nav-main ul li a en la pseudo clase hover*/
    border-bottom: 2px solid #fff;
}
.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 20px;  /*nos da un espacio de 20px a lado del logo*/
}

.menu-btn{
    position: absolute; 
    cursor: pointer;    /*Nos sirve para que simule que es un boton*/
    top: 15px;  /*para que nos baje 15 pixeles*/
    right: 30px;
    z-index: 2; /*Sirve para que siempre este encima de todo*/
    font-size: 1.5rem;  /*Lo hace mas grande*/
    display: none;  /* desaparece nuestro menu hasta que cambie la resolucion*/
}

/*Showcase*/

hr{
    margin: 10px 0px;   /*Le da un espaciado a nuestra etiqueta hr*/
}

.showcase{      /*Alteraremos nuestra clase principal*/
    width: 100%;
    /*color: rgb(255, 255, 255);     Nos cambia el color del texto en toda nuestra clase showcase*/
    /*background: red; Nos cambia el fondo de todo lo que contiene nuestro showcase*/
    height: 550px;
    background: url("./img/showcase.jpg") no-repeat center center/cover;   /*Nos coloca un imagen de fondo con el url centrado y toda la imagen*/
    padding: 50px;   /*Sirve para darle un espacio a los botones utilizados desde el final de fondo*/
    margin-bottom: 20px;    /*Nos da un espaciado interno de 20px*/
    display: flex;  /*Nos centra todo el texto en una sola linea*/
    flex-direction: column; /*Para que el texto este debajo y justo centrado*/
    align-items: center;    /*Nos alinea nuestro texto a la mitad de la imagen*/
    justify-content: flex-end;    
    text-align: center; /*Nos alinea el todo el texto a la mitad de la imagen*/
}

.btn{   /*Nos personaliza las clases de tipo btn*/
    cursor: pointer; /*Para que aparezca el icono al momento de colocar el cursor*/
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px; /*Arriba y abajo de 10px y 20px hacia los lados*/
    background: #262626;
    color: #fff;    /*Color del texto del boton*/
    font-size: 15px;
    border: 1px solid #fff; /*Cambia el color del borde y le da al borde del botton un espacio de 1px */
    margin: 10px 20px;   /*10 px de arriba y abajo y 20px hacia los lados*/
}

.btn:hover{ /*Agregar un afecto cuando lo posicione*/
    opacity: .7;
}

.showcase h2,
.showcase p{
    margin-bottom: 10px;    /*Para que no esten tan pegados las etiquetas h2 y p de nuestro showcase*/
}

/*News Cards*/

.news-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);   /*Nos permite crear columnas y con la funcion repeat como parametro mandamos la cantidad de columnas y 1fr*/
    gap: 25px;  /*Sirve para las columnas dandonos un espaciado de 25 px por cada columna*/
    margin: 10px 0px;
}

.news-cards img{
    width: 100%;    /*Nos divide nuestras columnas y las distribuye en el 100% de pantalla utilizada*/
    height: 180px;  /*Nos ajusta todas nuestras imagenes a 180px*/
    
}

.news-cards h3{
    font-size: 20px;
    margin: 10px;
    text-align: center;
}

.news-cards a{
    padding: 10px 0;
    color: #f2f2f2;
    text-transform: uppercase; /*Nos convierte a mayusculas todas nuestras letras*/
    display: inline-block;
    font-weight: bold;
}

.news-cards a:hover{
    text-decoration: underline;
}

.news-cards p{
    text-align: justify;
}

/*Cards Banners one*/
.cards-banner-one{
    width: 100%;
    height: 350px;
    background: url('./img/banner1.jpg') no-repeat center center/cover;
    margin-bottom: 40px;
}

.cards-banner-one .content{
    width: 50%; /*Este nos modifica el texto dentro del baner ocupando solo el 40%*/
    padding: 70px 0 0 30px;
    color: #fff;
    text-align: justify;
    
}

.cards-banner-one p,
.cards-banner-one h2{
    margin: 10px 20px;  /*Sirve para que nos separe el texto del "p" y del "h2" */
}

/*Cards Banner Two*/

.cards-banner-two{
    
    width: 100%;
    height: 350px;
    background: url('./img/banner2.jpg') no-repeat center center/cover;
    margin-bottom: 40px;
}
.cards-banner-two .content{
    width: 50%; /*Este nos modifica el texto dentro del baner ocupando solo el 40%*/
    padding: 70px 0 0 30px;
    color: #fff;
    text-align: justify;
    
}

.cards-banner-two p,
.cards-banner-two h2{
    margin: 10px 20px;  /*Sirve para que nos separe el texto del "p" y del "h2" */
}

/*  Social  */
.social{
    margin: 50px;
}
.social p{
    text-align: center; /*Centra nuestro texto del "p"*/
    font-size: 30px;    /*Aumenta el tamaño de nuestra letra*/
    margin-bottom: 20px;
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.links a{
    margin: 0 30px;

}

.links a i{
    font-size: 3rem;
}

/*  Links */
.footer-links{
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 35px 0;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.footer-container ul{
    margin: 0 auto; /*Nos centra las columnas*/
}

.footer-container ul li{
    line-height: 2.8;   /*Nos permite darle sangria a nuestro texto*/
}

.footer{
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;
}

@media (max-width: 700px){  /*Nos sirve para modificar la vista de acuerdo al dispositivo*/

    .menu-btn{
        display: block;
    }
    .nav-main ul.nav-menu{
        display: block; 
        position: absolute; /*Para que este encima de todo*/
        top: 0; /*Para que este en la esquina*/
        left: 0;    /*Para que este hacia la izquierda*/
        background: #2f3640;    /*Le dara un color */
        height: 100%;
        padding: 30px;
        opacity: .9;

        transform: translateX(-400px); /*Nos mueve -400px */
        transition: transform .5s ease-in-out;  /*Nos va a deslizar para que no aparesca tan brusco*/
    }


    .nav-main ul.nav-menu.show{
        transform: translateX(-20px);
    }

    .nav-main ul.nav-menu li{
        padding: 20px;
        font-size: 14px;
    }


    .nav-main ul.nav-menu-right{
        padding: 8px 0 0;
        margin-right: 40px;
    }

    .news-cards{
        grid-template-columns: repeat(2,1fr);
    }
    .cards-banner-one .content{
        width: 80%;
    }
    .cards-banner-two .content{
        width: 80%;
    }
    .footer-links .footer-container{
        grid-template-columns: repeat(2,1fr);
    }

}

@media (max-width: 500px){
    .news-cards{
        grid-template-columns: 1fr;
    }

    .news-cards img{
        height: 270px;
    }

    .cards-banner-one .content,
    .cards-banner-two .content{
        width: 100%;
        padding: 60px 20px;
    }

    
}